body {
    background-color: black;
    width: 100%;
    height: 100%;
}
.text, h3, h1 {
  color: white;
  font-size: 30px;
}

html{
  width:100%;
  height:100%;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  #calculatorPad{
    grid-template-columns: 8% 8% 8% 8% 8%;
  }
  #mathEquation{
    grid-column-end: span 5;
  }
  #calSpace{
    grid-column-end: span 5;
  }
  #calPower{
    display: grid;
  }
  #calRoot{
    display: grid;
  }
  #calNatural{
    display: grid;
  }
  #calExponential{
    display: grid;
  }
  #calSquared{
    display: grid;
  }

}

.extra {
  display: none;
}

.container {
  display: grid;
  justify-content: center;
  /*grid-template-columns: 80px 80px 80px 80px;*/
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "header header header header" 
  "main main main main" 
  "main main main main" 
  "main main main main" 
  "main main main main" 
  "main main main main"
  "main main main main";
  
}

.item-header {
  font-size: 64px;
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: span 4;
  background-color: black;
  color: white;
  text-align: right;
}
.calculatorButton {
  background-color: dimgray;
  border: none;
  color: white;
  padding: 7.5%;
  text-align: center;
  margin: 4px 2px;
  border-radius: 50%;
}
.silver {
  background-color: silver;
  color: black;
}
.green {
  background-color: mediumseagreen;
}
button {
  font-size: 20px;
  text-align: center;
}

.clear {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span 3;
}

.space {
  grid-row: 7;
  grid-column-start: 1;
  grid-column-end: span 4;
  border-radius: 0px;
}

.headingText {
    color: white;
    font-size: 30px;
}

#cal0{
    grid-row: 6;
    grid-column-start: 2;
    grid-column-end: span 2;
}

#help{
  
  text-align: left;
  color: white;
} 

input::placeholder{
  opacity: 0.2;
  color: white;
} 

a:visited, a {
  color: white;
}

table, th, td {
  border: 1px solid mediumaquamarine;
  color: white;
  padding: 10px;
}

#operatorTable {
  
  text-align: center;
  color: white;
}

#paragraph {
  font-size: 18px;
  width: 100%;
}

#title {
  text-align: center;
}
