button { 
    width: 100%; 
    height: 100%; 
    color: black; 
    background: lightgray;  
   
 }

 table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    table-layout: fixed;
}

table {
    height: 90%;
}
* {
    font-size: 30px;
    font-family: "Arial", Arial, sans-serif;
}

.headingText {
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}

.tabBar {
    background: white;
    padding: 5px;
    text-align: center;
}

.tabButton {
    width: 32%;
    height: 50px; 
    border-radius: 5px;
}

.container {
    width: 100%;
    height: 100%;
}

