button { 
    width: auto;
    height: auto; 
    color: white; 
    background: purple;  
    font-size: 200%;
 }
 
* {
    font-size: 200%;
    font-family: "Arial", Arial, sans-serif;
    background: black;
    color: white;
}

::-webkit-input-placeholder {
    font-size: 125%;
}

button:hover {
    color: greenyellow;    
}

.tabBar {
    padding: 5px;
    text-align: center;
}

.textField {
    border-radius: 5px;
}
