/* make all buttons 20 by 20 pixels with white text and green background and a 10 pixel margin */
button { 
    width: 100px; 
    height: 100px; 
    color: black; 
    margin: 5px; 
    background: lightgray;  
 }

* {
    font-size: 20px;
    font-family: "Arial", Arial, sans-serif;
}

::-webkit-input-placeholder {
    font-size: 18px;
}

.headingText {
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}

.dialerButton:hover {
    color: mediumaquamarine;   
}
.tabButton:hover {
    color: blue;   
    background: white;
}
.dialerEndButton {  
    width: 157px;
    height: 100px;
}
.dialerEndButton:hover {
    color: greenyellow;   
}
.dialerButton {
    font-size: 20;
}
.tabBar {
    background: white;
    padding: 5px;
    text-align: center;
}
.textField {
    border-radius: 5px;
}
.tabButton {
    width: 30%;
    height: 25px; 
    border-radius: 20px;
}

.buttonLine {
    display: inline-block;
}
.contactListButton {
    width: 150px;
    height: 50px;
    font-size: 16px;
}

.addContactbutton {
    width: 150px;
    height: 50px;
    display: inline-block;
}